extends ../layout/main

block variables
    - title = 'title';
    - pageClass = 'main-page';



block content
    .container
        | title

        #test
            | Test component
        p Test p

        +icon('arrow-right')
        i some text
        p couple test
        +icon('tct')
    //- include ../components/scrollspy
    //- section.intro
    //-     | intro